.Modal {
  color: #ffffff;
  &__header {
    color: #ffffff;
    font-size: 40px;
    font-weight: 300;
    text-align: left;
  }
  &__close {
    color: #ffffff;
    position: absolute;
    right: 32px;
    top: 32px;
    width: 36px;
    height: 36px;
    opacity: .7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #ffffff;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
