.GenreSelect {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
      cursor: pointer;
      padding: 8px;
      margin: 0 8px;
      &--selected {
        border-bottom: 4px solid #f65261;
      }
      &__button {
        text-transform: capitalize;
        font-weight: 500;
        color: white;
        font-size: 16px;
        cursor: pointer;
        background: transparent;
        border: 0;
      }
    }
  }
}
